
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap');

@font-face {
        font-family: RocaFont;
        src: url(../static/RocaFont/Roca\ Black.ttf);
    }

@keyframes title {
    0%{color: green;}
    100%{color:#256c79;}
}
body{
    background-color: #0A2423;
     /* background-color: #042c2b; */
}

.your-task{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-right: 40px;
    padding-left: 40px;
    
    align-items: center;
}

.your-task h1{
    /* color:rgba(10, 194, 10, 0.664); */
    color: #c3ff75b4;
    /* font-family: 'Libre Franklin', sans-serif; */
    font-size: 65px;
    
    
}

.your-task img{
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 20px;
    

}
header{
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,0.1);

}
header img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
header h2{
    font-size: 40px;
    color: white;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
  }

h1{
    font-size: 80px;

}
.container h1{
    font-family: RocaFont; 
    
    font-size: 80px;
    color: #256c79;
    /* animation-name: title; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    
}



.container{
    
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container .content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}
.content button{
    background-color: white;
    font-family: RocaFont;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    width: 40%;
    color: white;
    border: none;
    cursor: pointer;
}
.content button a{
    text-decoration: none;
    color: green;
}

/* TASK PAGE */

.task-container{
    height: 80vh;
    overflow-x: scroll;
    padding-left: 40px;
    display: flex;
    gap: 30px;
    

    
}

.task{
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

}

.task .div1{
    background-color: rgba(255,255,255,0.1);
    display: flex;
    width:fit-content;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 450px;
    color: white;
    border-radius: 10px;
    margin: 20px;

}
.add-task{
    background-color: rgba(255,255,255,0.1);
    /* border: 2px solid #C1FF72 ; */
    border: none;
    padding: 10px;
    border-radius: 20px;
}
.add-task a{
    color: #c2ff7294;
    font-size: 20px;
    text-decoration: none;
    

    
}
.div1 h3{
    font-size: 30px;
}
.individual-task h1{
    color: beige;
    font-size: 60px;
    font-weight: 500;
}
.individual-task .details{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.individual-task h2{
    font-weight: 600;
    
}
.individual-task{
    
    margin: 20px;
}
.tags{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    /* background-color: aliceblue; */
    justify-content: space-around;
}
.tags p{
    font-size: 30px;
}
.notes{
    color: white;
    display: flex;
    flex-direction: column;

}
.options{
    display: flex;
    justify-content: space-between;
    width: 87%;
    align-items: center;
    padding: 0 10px;
    


}
.options div{
    background-color:rgba(1,1,1,0.22);
    border-radius: 10px;
    text-align: center;
    padding: 10px;

}
.notes li{
    text-indent: 10%;
}
.tags div{
    height: 180px;
    width: 300px;
    border-radius: 10px;
    /* background-color:aliceblue; */
    margin: 20px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.resources{
    margin: 20px;
    text-decoration: underline;
    color: white;
    display: flex;
    width: fit-content;
    justify-content:flex-start;
    gap: 20px;
}
.frame{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.deadline{
    background-color: #d8665e8c;
}
.stress{
    background-color: #fcff3c7e;
}
.status{
    background-color: #c2ff7280;
}
.time{
    background-color: #ff914d80;
}

.description{
    
    text-align:justify;
    color: whitesmoke;
    font-weight: 200;
    display: flex;
    flex-direction: column;

}
.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.need {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block div{
    width: 40%;
    padding: 20px;
    /* background-color: rgba(255,255,255,0.1); */
    border-radius: 10px;
}