<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="content">
            <div >
                <h1 >“Simplify.</h1><br>
                <h1 style="color: white;">&emsp;Prioritize.</h1><br>
                <h1 style="color: greenyellow;">Achieve.”</h1><br>
            </div>
            <br><br><br>
            <button type="button"><a href="{% url 'tasks' %}">Lets Start</a></button>
        </div>
        <div class="banner">
            <img src="{% static 'Images/Design_png.png' %}" alt="">
        </div>
    </div>
</body>
</html>